<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thinkPro.mapping.trainPlanInfoMapper">

	<!-- 查询培训计划和明细全部信息 -->
	<select id="getAllInfo" resultMap="AllInfoResultMap">
		select * from trainplan
	</select>
	
	<!-- 根据条件进行查询和明细全部信息 -->
	<select id="getInfoByIf" parameterType="TrainPlan" resultMap="AllInfoResultMap">
		select * from trainplan
		<where>  
        <if test="TRAIN_PLAN_YEAR!=null and TRAIN_PLAN_YEAR!='' ">  
            TRAIN_PLAN_YEAR = #{TRAIN_PLAN_YEAR}
        </if>  
        <if test="TRAIN_PLAN_NAME!= null and TRAIN_PLAN_NAME!= '' ">  
            AND TRAIN_PLAN_NAME LIKE CONCAT(CONCAT('%', #{TRAIN_PLAN_NAME}),'%')    
        </if>
        <if test="TRAIN_PLAN_TYPE!=null and TRAIN_PLAN_TYPE!='' ">  
            AND TRAIN_PLAN_TYPE = #{TRAIN_PLAN_TYPE}
        </if>
        <if test="IS_FINISH!=null and IS_FINISH!='' ">  
            AND IS_FINISH = #{IS_FINISH}
        </if>
    </where>  
	</select>
	
	<resultMap type="TrainPlan" id="AllInfoResultMap">
		<id property="TRAIN_PLAN_ID" column="TRAIN_PLAN_ID"/>
		<result property="TRAIN_PLAN_YEAR" column="TRAIN_PLAN_YEAR"/>
		<result property="TRAIN_PLAN_NAME" column="TRAIN_PLAN_NAME"/>
		<result property="TRAIN_PLAN_TYPE" column="TRAIN_PLAN_TYPE"/>
		<result property="ZY_NAME" column="trainZY"/>
		<result property="TRAIN_TIME" column="trainTime"/>
		<result property="num" column="empcount"/>
		<result property="IS_FINISH" column="IS_FINISH"/>
	</resultMap>
	
	<!-- 根据id查询培训计划信息 -->
	<select id="getTrainPlanInfoById" parameterType="String" resultType="TrainPlanInfo">
		select * from train_plan_info where TRAIN_PLAN_ID=#{TRAIN_PLAN_ID}
	</select>
	
	<!-- 创建培训计划(Insert) -->
	<insert id="addTrainPlanInfo" parameterType="TrainPlanInfo">
		insert
		train_plan_info(TRAIN_PLAN_ID,TRAIN_PLAN_NAME,TRAIN_PLAN_TYPE,TRAIN_PLAN_YEAR,START_TIME,END_TIME,IS_FINISH)
		values(#{TRAIN_PLAN_ID},#{TRAIN_PLAN_NAME},#{TRAIN_PLAN_TYPE},#{TRAIN_PLAN_YEAR},#{START_TIME},#{END_TIME},#{IS_FINISH})
	</insert>
	
	<!-- 修改培训计划(Update) -->
	<update id="updateTrainPlanInfo" parameterType="TrainPlanInfo">
		update train_plan_info set
		TRAIN_PLAN_NAME=#{TRAIN_PLAN_NAME},
		TRAIN_PLAN_YEAR=#{TRAIN_PLAN_YEAR},
		TRAIN_PLAN_TYPE=#{TRAIN_PLAN_TYPE},
		START_TIME=#{START_TIME},
		END_TIME=#{END_TIME},
		IS_FINISH=#{IS_FINISH} where TRAIN_PLAN_ID=#{TRAIN_PLAN_ID}
	</update>
	
	<!-- 删除培训计划(Delete) -->
	<delete id="deleteTrainPlanInfo" parameterType="String">
		delete from train_plan_info where TRAIN_PLAN_ID=#{TRAIN_PLAN_ID}
	</delete>
</mapper>