<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thinkPro.train.db.mapper.TrainPlanItemMapper">

	<!-- 根据培训明细Id查询培训计划明细 -->
 	<select id="getTrainPlanItemByItemId" parameterType="String" resultType="TrainPlanItem">
 		select * from train_plan_item where trainPlanItem=#{trainItemId}
 	</select>
 	
 	
 	<!-- 根据培训计划Id查询培训计划明细 -->
 	<select id="getTrainPlanItemByInfoId" parameterType="String" resultType="TrainPlanItem">
 		select * from train_plan_item where trainPlanId=#{trainPlanId}
 	</select>
 	
 	
 	<!-- 根据培训计划信息Id查询培训计划明细Id -->
 	<select id="getPlanItemIdByInfoId" parameterType="String" resultType="String">
 		select trainItemId from train_plan_item where trainPlanId = #{trainPlanId}
 	</select>
 	
 	
	<!-- 创建培训计划明细(Insert) -->
	<insert id="addTrainPlanItem" parameterType="TrainPlanItem">
		insert
		train_plan_item(trainItemId,trainPlanId,major,trainContent,trainPurpose,classCount,teacher)
		values(#{trainItemId},#{trainPlanId},#{major},#{trainContent},#{trainPurpose},#{classCount},#{teacher})
	</insert>
	
	 
	<!-- 修改培训计划明细(Update) -->
	<update id="updateTrainPlanItem" parameterType="TrainPlanItem">
		update train_plan_item set
		trainContent=#{trainContent}
		trainPurpose=#{trainPurpose}
		classCount=#{classCount}
		teacher=#{teacher}
		major=#{major} where trainItemId=#{trainItemId}
	</update>
	
	
	<!-- 删除培训计划明细(Delete) -->
	<delete id="deleteTrainPlanItem" parameterType="String">
		delete from train_plan_item where trainItemId=#{trainItemId}
	</delete>
</mapper>