<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkPro.train.db.mapper.UnitMapper">


	<!-- 创建部门信息(Insert) -->
	<insert id="insertUnit" parameterType="Unit">
		INSERT INTO
		unit(unitId,upUnitId,unitName,address,telephone,contactPerson,email,header,createDate,remark,unitClass)
		VALUES(#{unitId},#{upUnitId},#{unitName},#{address},#{telephone},#{contactPerson},#{email},#{header},#{createDate},#{remark},#{unitClass})
	</insert>


	<!-- 修改部门信息(Update) -->
	<update id="updateUnit" parameterType="Unit">
		update unit
		<set>
			<if test="upUnitId!=null">
				upUnitId=#{upUnitId},
			</if>
			<if test="unitName!=null">
				unitName=#{unitName},
			</if>
			<if test="header!=null">
				header=#{header},
			</if>
			<if test="remark!=null">
				remark=#{remark},
			</if>
		</set>
		where unitId=#{unitId}
	</update>


	<!-- 删除部门信息(Delete) -->
	<delete id="deleteUnit" parameterType="String">
		delete from unit where
		unitId=#{unitId}
	</delete>


	<!-- 根据unitId查询部门信息 -->
	<select id="getUnitByUnitId" parameterType="String" resultType="Unit">
		select
		unitId,upUnitId,unitName,address,telephone,contactPerson,email,header,createDate,remark
		from unit where unitId=#{unitId}
	</select>


	<!-- 根据upUnitId查询部门信息 -->
	<select id="getUnitByUpUnitId" parameterType="String"
		resultType="Unit">
		select unitId, upUnitId, unitName, address, telephone,
		contactPerson, email, header, createDate, remark from
		unit where
		upUnitId=#{upUnitId}
	</select>


	<!-- 查询全部部门信息 -->
	<select id="getAllUnits" resultType="Unit">
		select unitId, upUnitId,
		unitName, address, telephone,
		contactPerson, email, header,
		createDate,
		remark from unit;
	</select>


	<!-- 查询部门树信息 -->
	<select id="getUnitTree" resultType="Map">
		select unitId, upUnitId,
		unitName from unit;
	</select>


	<!-- 根据上级部门Id查询最新的一个下级部门信息 -->
	<select id="getNewUnit" parameterType="String" resultType="Unit">
		SELECT
		unitId,upUnitId,unitName,address,telephone,contactPerson,email,header,createDate,remark
		from unit where unitId = (SELECT MAX(unitId) FROM unit WHERE
		upUnitId=#{upUnitId});
	</select>

</mapper>