<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkPro.train.db.mapper.ResultRatioMapper">
	<!-- 根据培训计划明细Id获取对应的成绩比例记录 -->
	<select id="selectByTrainItemId" parameterType="String" resultType="TrainResultRatio">
		select * from train_result_ratio where trainItemId=#{trainItemId}
	</select>
	
	<!-- 设置当前培训计划明细的成绩比例 -->
	<update id="update" parameterType="TrainResultRatio">
		update train_result_ratio
		<set>
			<if test="examRatio != null">
				examRatio=#{examRatio},
			</if>
			<if test="attendanceRatio != null">
				attendanceRatio=#{attendanceRatio},
			</if>
			<if test="setTime != null">
				setTime=#{setTime},
			</if>
			<if test="remark != null">
			    remark=#{remark}
			</if>
		</set>
		where trainItemId=#{trainItemId}
	</update>
	
	<!-- 插入当前培训计划明细的成绩比例 -->
	<insert id="insert" parameterType="TrainResultRatio">
		insert trainResultRatio(trainItemId, examRatio, attendanceRatio, setTime, remark) 
		values(#{trainItemId}, #{examRatio}, #{attendanceRatio}, #{setTime}, #{remark})
	</insert>
</mapper>