.gaoliang{
	background-color: cyan;
	color: #000000;
}

.content_top{
	height: 420px;
	width: 100%;
	border: 1px solid black;

}
.content_top_left{
	width: 20%;
	padding: 10px;
	
	height: 100%;
	border: 1px solid black;
}
.content_top_right{
	width: 80%;
	padding: 10px;
	
	height: 100%;
}

.content_bottom{
	height: 300px;
	margin-top: 30px;
	width: 100%;
	

}
.content_bottom_title{
}
