<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkPro.train.db.mapper.UnitMapper">

	<insert id="insertUnit" parameterType="Unit">
		INSERT INTO
		unit(unitId,upUnitId,unitName,header,remark)
		VALUES(#{unitId},#{upUnitId},#{unitName},#{header},#{remark})
	</insert>

	<update id="updateUnit" parameterType="Unit">
		update unit
		<set>
		 	<if test="upUnitId!=null">
				upUnitId=#{upUnitId},
			</if>
			<if test="unitName!=null">
				unitName=#{unitName},
			</if>
			<if test="header!=null">
				header=#{header},
			</if>
			<if test="remark!=null">
				remark=#{remark},
			</if>
		</set>
		where unitId=#{unitId}
	</update>

	<delete id="deleteUnit" parameterType="String">
		delete from unit where
		unitId=#{unitId}
	</delete>


	<!-- 根据unit_Id查询部门信息 -->

	<select id="getUnitByUnitId" parameterType="String" resultType="Unit">
		select
		unitId,upUnitId,unitName,address,telephone,contactPerson,email,header,createDate,remark
		from unit where unitId=#{unitId}
	</select>

	<!-- 根据up_Unit_Id查询部门信息 -->

	<select id="getUnitByUpUnitId" parameterType="String"
		resultType="Unit">
		select unitId, upUnitId, unitName, address, telephone,
		contactPerson, email, header, createDate, remark from
		unit where upUnitId=#{upUnitId}
	</select>

	<!-- 查询全部部门信息 -->
	<select id="getAllUnits" resultType="Unit">
		select unitId, upUnitId,
		unitName, address, telephone,
		contactPerson, email, header,
		createDate, remark from unit;
	</select>

	<!-- 查询部门树信息 -->
	<select id="getUnitTree" resultType="Map">
		select unitId, upUnitId,
		unitName from unit;
	</select>


	<select id="getUnitId" resultType="Map">
	SELECT unitId,unitName,t.upUnitId,t1.maxnum maxnum FROM unit t LEFT JOIN (SELECT upUnitId,count(unitId),CONCAT("00", max(unitId) + 1) maxnum FROM unit GROUP BY
	upUnitId) t1 ON t.unitId = t1.upUnitId;
	</select>
	
	<!-- 根据部门ID查询部门最大ID -->
	<select id="getUnitNextId" parameterType="String" resultType="String">
		SELECT CONCAT("00", MAX(unitId) + 1) unitId FROM unit WHERE upUnitId=#{upUnitId}
	</select>

</mapper>